<div style="justify-content: center;
    display: flex;    margin-top: 4rem;">
  <div class="container" style="    box-shadow: 3px 2px 6px 0px #ffa800, -3px -2px 6px 0px #82d8ee;">
    <div class="heading">Login</div>
    <form action="post" class="form" >
      <input required="" class="input" type="email" name="email" id="email" placeholder="E-mail">
      <input required="" class="input" type="password" name="password" id="password" placeholder="Password">
      <span class="forgot-password"><a href="#">Forgot Password ?</a></span>
    <a routerLink="/Home"><button class="submit">Sign In</button></a>
    </form>
    <div class="social-account-container">
        <span class="title">Don't have an Account? <span><a routerLink="/Sign-Up">SignUp</a></span></span>
</div>
